.container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-input {
    padding: 10px;
    min-height: 20px;
    width: 85%;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 1rem;
}